<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
  </head>
  <body>
    <div>
      <h1>Login</h1>
      <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div>
          {{ form.username.label }}<br>
          {{ form.username(value="admin", size=32) }}
        </div>
        <div>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Focus on the password input field
                document.getElementById('password').focus();
            });
        </script>
        <div>
          {{ form.submit() }}
        </div>
      </form>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul>
            {% for category, message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>
