{% extends 'serve_form_base.html' %}

{% block first_part %}
    {% if serves|length < 1 %}
    <h4 style="text-align: center">You haven't practiced serves yet. Do it now!</h4>
    {% else %}
    {% set days_since_last_serve = (now.date() - serves[0].date.date()).days %}
    <h4 style="padding-top: 5px; text-align: center; color: {% if days_since_last_serve < 3 %}green{% elif days_since_last_serve < 6 %}black{% else %}red{% endif %};">
        <p>It has been {{ days_since_last_serve }} days since your last practice.</p>
        {% if days_since_last_serve < 3 %}
        <p>Good job! You have worked hard!</p>
        {% elif days_since_last_serve < 6 %}
        <p>Practice again as soon as you can!</p>
        {% else %}
        <p>It's been a week you last practiced, you better do it now!</p>
        {% endif %}
    </h4>
    {% endif %}
{% endblock %}

{% block form_action %}/serve{% endblock %}

{% block form_date %}{% endblock %}
{% block form_first_serve_in %}{% endblock %}
{% block form_first_serve_out %}{% endblock %}
{% block form_first_serve_in_percent %}{% endblock %}
{% block form_second_serve_in %}{% endblock %}
{% block form_second_serve_out %}{% endblock %}
{% block form_second_serve_in_percent %}{% endblock %}
{% block form_total_serve_in %}{% endblock %}
{% block form_total_serve_out %}{% endblock %}
{% block form_total_serve_percent %}{% endblock %}
{% block form_total_serve %}{% endblock %}
{% block form_duration %}{% endblock %}
{% block form_location %}{% endblock %}
{% block form_comment %}{% endblock %}
{% block form_first_serve_in_deuce %}{% endblock %}
{% block form_first_serve_out_deuce %}{% endblock %}
{% block form_first_serve_in_percent_deuce %}{% endblock %}
{% block form_second_serve_in_deuce %}{% endblock %}
{% block form_second_serve_out_deuce %}{% endblock %}
{% block form_second_serve_in_percent_deuce %}{% endblock %}
{% block form_first_serve_in_ad %}{% endblock %}
{% block form_first_serve_out_ad %}{% endblock %}
{% block form_first_serve_in_percent_ad %}{% endblock %}
{% block form_second_serve_in_ad %}{% endblock %}
{% block form_second_serve_out_ad %}{% endblock %}
{% block form_second_serve_in_percent_ad %}{% endblock %}
{% block form_aces %}{% endblock %}

{% block bottom_part %}
    <div class="content" style="margin-top: 20px;">
        <div style="padding: 10px;">
            {% if serves|length >= 1 %}
            <p>Total Serves: {{ serve_analysis.total_serves }}</p>
            <p>Serves per week: {{ "{:.0f}".format(serve_analysis.average_serves_per_week) }}</p>
            <p>Total Practice: {{ serve_analysis.total_records }}</p>
            <p>Practice per week: {{ "{:.1f}".format(serve_analysis.average_records_per_week) }}</p>
            <p>Total Duration (minutes): {{ serve_analysis.total_duration }}</p>
            <p>Duration per week (minutes): {{ "{:.0f}".format(serve_analysis.average_duration_per_week) }}</p>
            <p>Started: {{ serve_analysis.time_since_first_entry.days }} days ago</p>
        </div>

        <h3 style="margin-left: 10px; margin-top: 20px; margin-bottom: 20px;text-align: center">
            <a href="/serve/diagram?u={{ u }}">Diagram</a>
            <a href="/">Home</a>
        </h3>

        <script>
            function confirmDelete(serveId, u) {
                var result = confirm("Are you sure you want to delete this entry?");
                if (result) {
                    window.location.href = "/serve/delete/" + serveId + "?u=" + u;
                }
            }
        </script>
        <style>
            .action-btn svg {
                width: 24px;
                height: 24px;
                fill: #007bff;
            }
        </style>
        <table>
            <tr>
                <th>Date</th>
                <th>S</th>
                <th>%</th>
                <th>A</th>
                <th>Loc</th>
                <th>Act</th>
            </tr>
            {% for serve in serves %}
                <tr>
                    {% set weekday_abbr = serve.date.strftime('%a') %}
                    {% if weekday_abbr in ['Mon', 'Wed', 'Fri'] %}
                        {% set weekday_abbr = weekday_abbr[:1] %}
                    {% elif weekday_abbr in ['Tue', 'Thu', 'Sat', 'Sun'] %}
                        {% set weekday_abbr = weekday_abbr[:2] %}
                    {% endif %}
                    {% set date_obj = serve.date.date() %}
                    {% set formatted_date = "%02d/%d/%d"|format(date_obj.year % 100, date_obj.month, date_obj.day) %}
                    <td>{{ formatted_date }} {{ weekday_abbr }}</td>
                    <td>{{ serve.total_serve }}</td>
                    <td>{{ serve.total_serve_percent }}</td>
                    <td>{{ serve.aces if serve.aces is not none else '' }}</td>
                    <td>{{ serve.location }}</td>
                    <td>
                        <a href="/serve/update/{{serve.id}}?u={{ u }}" style="margin-left: 0px; margin-right: 0px;" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1L1 12l2 2L12 3l9 9 2-2L12 1zm0 4.5L4.5 12 12 19.5 19.5 12 12 5.5zm0 0L12 3z"/></svg>
                        </a>
                        <a href="#" onclick="confirmDelete('{{ serve.id }}', '{{ u }}')" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 9v10H8V9h8zm0-2H8V5h8v2zm1-4h-6V1H9v2H3v2h14V3h-1zm0 4h-2V5h2v2z"/></svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

{% endblock %}
