{% extends 'tennis_form_base.html' %}

{% block first_part %}
    {% if tennis_all|length < 1 %}
    <h4 style="text-align: center">You haven't practiced tennis yet. Do it now!</h4>
    {% else %}
    {% set days_since_last_serve = (now.date() - tennis_all[0].date.date()).days %}
    <h4 style="text-align: center; color: {% if days_since_last_serve < 3 %}green{% elif days_since_last_serve < 6 %}black{% else %}red{% endif %};">
        <p>It has been {{ days_since_last_serve }} days since your last practice.</p>
        {% if days_since_last_serve < 3 %}
        <p>Good job! You have worked hard!</p>
        {% elif days_since_last_serve < 6 %}
        <p>Practice again as soon as you can!</p>
        {% else %}
        <p>It's been a week you last practiced, you better do it now!</p>
        {% endif %}
    </h4>
    {% endif %}
{% endblock %}

{% block form_action %}/tennis{% endblock %}

{% block form_date %}{% endblock %}
{% block form_duration %}{% endblock %}
{% block form_location %}{% endblock %}
{% block form_category %}{% endblock %}
{% block form_details %}{% endblock %}
{% block form_loaded %}{% endblock %}

{% block bottom_part %}
    <div class="content" style="margin-top: 30px;">
        <div>
            {% if tennis_all|length >= 1 %}
            <p>Total Practice: {{ tennis_analysis.total_records }}</p>
            <p>Practice per week: {{ "{:.1f}".format(tennis_analysis.average_records_per_week) }}</p>
            <p>Total Duration (hours): {{ "{:.1f}".format(tennis_analysis.total_duration / 60) }}</p>
            <p>Total Tennis Duration (hours): {{ "{:.1f}".format((tennis_analysis.total_duration - tennis_analysis.total_fitness_duration) / 60) }}</p>
            <p>Total Fitness Duration (hours): {{ "{:.1f}".format(tennis_analysis.total_fitness_duration / 60) }}</p>
            <p>Weekly Duration (hours): {{ "{:.0f}".format(tennis_analysis.average_duration_per_week / 60) }}</p>
            <p>Weekly Tennis Duration (hours): {{ "{:.0f}".format((tennis_analysis.average_duration_per_week - tennis_analysis.average_fitness_duration_per_week) / 60) }}</p>
            <p>Weekly Fitness Duration (hours): {{ "{:.0f}".format(tennis_analysis.average_fitness_duration_per_week / 60) }}</p>
            <p>Started: {{ tennis_analysis.time_since_first_entry.days }} days ago</p>
        </div>
        <h3 style="margin-left: 10px; margin-top: 20px; margin-bottom: 20px;text-align: center">
            <a href="/tennis/diagram?u={{ u }}">Diagram</a>
            <a href="/">Home</a>
        </h3>
        <script>
            function confirmDelete(entryId, u) {
                var result = confirm("Are you sure you want to delete this entry?");
                if (result) {
                    window.location.href = "/tennis/delete/" + entryId + "?u=" + u;
                }
            }
        </script>
        <table>
            <tr>
                <th>Date</th>
                <th>Hrs</th>
                <th>Type</th>
                <th>Loc</th>
                <th>Act</th>
            </tr>
            {% for tennis in tennis_all %}
                <tr>
                    {% set weekday_abbr = tennis.date.strftime('%a') %}
                    {% if weekday_abbr in ['Mon', 'Wed', 'Fri'] %}
                        {% set weekday_abbr = weekday_abbr[:1] %}
                    {% elif weekday_abbr in ['Tue', 'Thu', 'Sat', 'Sun'] %}
                        {% set weekday_abbr = weekday_abbr[:2] %}
                    {% endif %}
                    {% set date_obj = tennis.date.date() %}
                    {% set formatted_date = "%02d/%d/%d"|format(date_obj.year % 100, date_obj.month, date_obj.day) %}
                    <td style="white-space: nowrap;">{{ formatted_date }} {{ weekday_abbr }}</td>
                    <td>{{ "{:.1f}".format(tennis.duration / 60) }}</td>
                    <td>{{ tennis.category }}</td>
                    <td>{{ tennis.location }}</td>
                    <td style="white-space: nowrap;">
                        <a href="/tennis/update/{{tennis.id}}?u={{ u }}" style="margin-left: 10px; margin-right: 20px;">U</a>
                        <a href="#" onclick="confirmDelete('{{ tennis.id }}', '{{ u }}')">D</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">{{ tennis.details }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}