{% extends 'tennis_base.html' %}

{% block head %}
<title>{{ user_name }}'s Tennis Log</title>
{% endblock %}

{% block body %}
<div class="content">
    {% block first_part %}
    {% endblock %}

    <style>
        .set_score {
            width:50px;
        }
    </style>

    <div class="form">
        <form action="{% block form_action %}{% endblock %}?u={{ u }}" method="POST">
            <table>
                <tr style="background-color: lightgrey;">
                    <td>Date:</td>
                    <td><input type="text" name="date" id="date" value="{% block form_date %}{% endblock %}"></td>
                </tr>
                <tr>
                    <td class="user_input">Duration in minutes:</td>
                    <td><input type="text" name="duration" id="duration" value="{% block form_duration %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td class="user_input">Location:</td>
                    <td><input type="text" name="location" id="location" value="{% block form_location %}{% endblock %}"></td>
                </tr>
                <tr>
                    <td class="user_input">Category:</td>
                    <td>
                        <input type="text" name="category" id="category" value="{% block form_category %}{% endblock %}">
                    </td>
                </tr>
                <tr>
                    <td class="user_input">Details:</td>
                    <td><input type="text" name="details" id="details" value="{% block form_details %}{% endblock %}"></td>
                </tr>
                <tr id="match-details-row" style="display: none;">
                    <td colspan="2">
                        <div>
                            <label><input type="radio" name="match_type" value="singles" checked> Singles</label>
                            <label><input type="radio" name="match_type" value="doubles"> Doubles</label>
                        </div>
                        <div class="match-details">
                            <div>Team 1: </div>
                            <div><input type="text" name="player1" id="player1"></div>
                            <div id="team1_doubles" style="display: none;"><input type="text" name="player3" id="player3"></div>
                            <div>Team 2: </div>
                            <div><input type="text" name="player2" id="player2"></div>
                            <div id="team2_doubles" style="display: none;"><input type="text" name="player4" id="player4"></div>
                        </div>
                        <div class="set-scores">
                            <table>
                                <tr>
                                    <td>Team 1</td>
                                    <td><input type="text" name="team1_set1" placeholder="Set 1" class="set_score"></td>
                                    <td><input type="text" name="team1_set2" placeholder="Set 2" class="set_score"></td>
                                    <td><input type="text" name="team1_set3" placeholder="Set 3" class="set_score"></td>
                                </tr>
                                <tr>
                                    <td>Team 2</td>
                                    <td><input type="text" name="team2_set1" placeholder="Set 1" class="set_score"></td>
                                    <td><input type="text" name="team2_set2" placeholder="Set 2" class="set_score"></td>
                                    <td><input type="text" name="team2_set3" placeholder="Set 3" class="set_score"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="match-outcome">
                            <label>Match Outcome: 
                                <select name="match_outcome" id="match_outcome">
                                    <option value="team1">Team 1 Won</option>
                                    <option value="team2">Team 2 Won</option>
                                </select>
                            </label>
                        </div>
                        <div class="match-description">
                            <label>Match Description: <textarea name="match_description" id="match_description"></textarea></label>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <div class="container">
                <input class="iphone-button" type="submit" value="Submit">
            </div>
        </form>
    </div>    
</div>

<script>
    // Get today's date
    var today = new Date();
    
    // Format the date as YYYY-MM-DD
    var formattedDate = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getDate().toString().padStart(2, '0');
    
    // Set the value of the input field with today's date
    if (!document.getElementById('date').value) {
        document.getElementById('date').value = formattedDate;
    }
</script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    function toggleMatchDetails(selectedValue) {
        var matchDetailsRow = document.getElementById('match-details-row');

        if (selectedValue?.toLowerCase() === 'match') {
            matchDetailsRow.style.display = 'table-row';
        } else {
            matchDetailsRow.style.display = 'none';
        }
    }

    $(document).ready(function() {
        $('#category').on('focus', function() {
            $(this).autocomplete('search', '');
        });
        $('#category').autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: '/categories',
                    dataType: 'json',
                    data: {
                        term: request.term
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#category').val(ui.item.value); // Update input value when an option is selected
                toggleMatchDetails(ui.item.value);
                return false; // Prevent default behavior of input field
            }
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var locations = [
            "CP",
            "RHS",
            "RMS",
            "WSC"
        ];

        $('#location').on('focus', function() {
            $(this).autocomplete('search', '');
        });

        $('#location').autocomplete({
            source: locations, // Use the hardcoded array
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#location').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var team1_doubles= document.getElementById('team1_doubles');
        var team2_doubles = document.getElementById('team2_doubles');
        var matchTypeRadios = document.getElementsByName('match_type');

        function toggleMatchType() {
            if (document.querySelector('input[name="match_type"]:checked').value === 'singles') {
                team1_doubles.style.display = 'none';
                team2_doubles.style.display = 'none';
            } else {
                team1_doubles.style.display = 'block';
                team2_doubles.style.display = 'block';
            }
        }

        // Initialize the visibility on page load
        toggleMatchType();

        // Add event listeners for match type radios
        matchTypeRadios.forEach(function(radio) {
            radio.addEventListener('change', toggleMatchType);
        });
    });
</script>

    {% block bottom_part %}
    {% endblock %}

{% endblock %}