{% extends 'tennis_form_base.html' %}

{% block first_part %}
    {% if tennis_all|length < 1 %}
    <h4 style="text-align: center">You haven't practiced tennis yet. Do it now!</h4>
    {% else %}
    {% set days_since_last_serve = (now.date() - tennis_all[0].date.date()).days %}
    <h4 style="padding-top: 5px; text-align: center; color: {% if days_since_last_serve < 3 %}green{% elif days_since_last_serve < 6 %}black{% else %}red{% endif %};">
        <p>It has been {{ days_since_last_serve }} days since your last practice.</p>
        {% if days_since_last_serve < 3 %}
        <p>Good job! You have worked hard!</p>
        {% elif days_since_last_serve < 6 %}
        <p>Practice again as soon as you can!</p>
        {% else %}
        <p>It's been a week you last practiced, you better do it now!</p>
        {% endif %}
    </h4>
    {% endif %}
{% endblock %}

{% block form_action %}/tennis{% endblock %}

{% block form_date %}{% endblock %}
{% block form_duration %}{% endblock %}
{% block form_location %}{% endblock %}
{% block form_category %}{% endblock %}
{% block form_details %}{% endblock %}
{% block form_loaded %}{% endblock %}

{% block match_player1 %}{{ user_name }}{% endblock %}
{% block match_player1_id %}{{ u }}{% endblock %}

{% block team1_won %}checked{% endblock %}
{% block team1_serve %}checked{% endblock %}
{% block court_type_indoor %}checked{% endblock %}

{% block bottom_part %}
    <div class="content" style="margin-top: 30px;">
        <div style="padding: 10px;">
            {% if tennis_all|length >= 1 %}
            <p>Total Practice: {{ tennis_analysis.total_records }}</p>
            <p>Practice per week: {{ "{:.1f}".format(tennis_analysis.average_records_per_week) }}</p>
            <p>Total Duration (hours): {{ "{:.1f}".format(tennis_analysis.total_duration / 60) }}</p>
            <p>Total Tennis Duration (hours): {{ "{:.1f}".format((tennis_analysis.total_duration - tennis_analysis.total_fitness_duration) / 60) }}</p>
            <p>Total Fitness Duration (hours): {{ "{:.1f}".format(tennis_analysis.total_fitness_duration / 60) }}</p>
            <p>Weekly Duration (hours): {{ "{:.0f}".format(tennis_analysis.average_duration_per_week / 60) }}</p>
            <p>Weekly Tennis Duration (hours): {{ "{:.0f}".format((tennis_analysis.average_duration_per_week - tennis_analysis.average_fitness_duration_per_week) / 60) }}</p>
            <p>Weekly Fitness Duration (hours): {{ "{:.0f}".format(tennis_analysis.average_fitness_duration_per_week / 60) }}</p>
            <p>Started: {{ tennis_analysis.time_since_first_entry.days }} days ago</p>
        </div>
        <h3 style="margin-left: 10px; margin-top: 20px; margin-bottom: 20px;text-align: center">
            <a href="/tennis/diagram?u={{ u }}">Diagram</a>
            <a href="/">Home</a>
            <a href="/tennis?u={{ u }}&show=all">Show All</a>
        </h3>
        <script>
            function confirmDelete(entryId, u) {
                var result = confirm("Are you sure you want to delete this entry?");
                if (result) {
                    let url = `/tennis/delete/${entryId}?u=${u}`;

                    // Check if category is in the query string
                    const params = new URLSearchParams(window.location.search);
                    const category = params.get('category');
                    if (category) {
                        url += `&category=${category}`;
                    }

                    window.location.href = url;
                }
            }

            function setFilter() {
                const category = document.getElementById('filter-input').value;
                const url = new URL(window.location.href);
                url.searchParams.set('category', category);

                fetch(url.toString())
                    .then(response => {
                        if (response.ok) {
                            window.location = url.toString();
                        }
                    });
            }

            $(document).ready(function() {
                $('#filter-input').on('focus', function() {
                    $(this).autocomplete('search', '');
                });
                $('#filter-input').autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: '/categories',
                            dataType: 'json',
                            data: {
                                term: request.term
                            },
                            success: function(data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 0, // Minimum characters before triggering autocomplete
                    select: function(event, ui) {
                        $('#filter-input').val(ui.item.value); // Update input value when an option is selected
                        return false; // Prevent default behavior of input field
                    }
                });

                const urlParams = new URLSearchParams(window.location.search);
                const category = urlParams.get('category');
                if (category) {
                    $('#filter-input').val(category);
                }
            })
        </script>
        <div id="filter-section" style="margin-bottom: 20px; padding: 10px;">
            <input type="text" id="filter-input" placeholder="Enter category">
            <button onclick="setFilter()">Filter</button>
        </div>
        <style>
            .action-btn svg {
                width: 24px;
                height: 24px;
                fill: #007bff;
            }
        </style>
        <div style="padding: 0px;">
        <table>
            <tr>
                <th>Date</th>
                <th>Hrs</th>
                <th>Type</th>
                <th>Loc</th>
                <th>Act</th>
            </tr>
            {% for tennis in tennis_all %}
                {% set is_match = tennis.category == 'Match' %}
                <tr style="background-color: {% if is_match %}#ffffe0{% endif %};">
                    {% set weekday_abbr = tennis.date.strftime('%a') %}
                    {% if weekday_abbr in ['Mon', 'Wed', 'Fri'] %}
                        {% set weekday_abbr = weekday_abbr[:1] %}
                    {% elif weekday_abbr in ['Tue', 'Thu', 'Sat', 'Sun'] %}
                        {% set weekday_abbr = weekday_abbr[:2] %}
                    {% endif %}
                    {% set date_obj = tennis.date.date() %}
                    {% set formatted_date = "%02d/%d/%d"|format(date_obj.year % 100, date_obj.month, date_obj.day) %}
                    <td style="white-space: nowrap;">{{ formatted_date }} {{ weekday_abbr }}</td>
                    <td>{{ "{:.1f}".format(tennis.duration / 60) }}</td>
                    <td>{{ tennis.category }}</td>
                    <td>{{ tennis.location | generate_acronym }}</td>
                    <td style="white-space: nowrap;">
                        <a href="/tennis/update/{{tennis.id}}?u={{ u }}{% if request.args.get('category') %}&category={{ request.args.get('category') }}{% endif %}" class="action-btn" style="margin-left: 0px; margin-right: 0px;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1L1 12l2 2L12 3l9 9 2-2L12 1zm0 4.5L4.5 12 12 19.5 19.5 12 12 5.5zm0 0L12 3z"/></svg>
                        </a>
                        <a href="#" onclick="confirmDelete('{{ tennis.id }}', '{{ u }}')" style="margin-right: 0px;" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 9v10H8V9h8zm0-2H8V5h8v2zm1-4h-6V1H9v2H3v2h14V3h-1zm0 4h-2V5h2v2z"/></svg>
                        </a>
                        <a href="/reflection?tennis_id={{tennis.id}}&next={{ request.url }}" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="3" width="18" height="18" rx="2" ry="2" fill="none" stroke="#007bff"></rect>
                                <line x1="3" y1="9" x2="21" y2="9" stroke="#007bff" stroke-opacity="0.8"></line>
                                <line x1="3" y1="15" x2="21" y2="15" stroke="#007bff" stroke-opacity="0.8"></line>
                                <line x1="9" y1="3" x2="9" y2="21" stroke="#007bff" stroke-opacity="0.8"></line>
                              </svg>
                        </a>
                    </td>
                </tr>
                <tr style="background-color: {% if is_match %}#ffffe0{% endif %};">
                    <td></td>
                    <td colspan="4">{{ tennis.details }}</td>
                </tr>
                {% set formatted_reflection = tennis.reflection|display_reflection %}
                {% if formatted_reflection %}
                <tr style="background-color: {% if is_match %}#ffffe0{% endif %};">
                    <td></td>
                    <td colspan="4">{{ formatted_reflection|safe }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}
        </div>
    </div>
{% endblock %}