{% extends 'tennis_base.html' %}

{% block head %}
<title>{{ user_name }}'s Tennis Log</title>
{% endblock %}

{% block body %}
<div class="content">
    {% block first_part %}
    {% endblock %}

    <style>
        .set_score {
            width:20px;
            font-family: Gotham SSm A,Gotham SSm B,Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.71;
            color: #2b3339;
            padding: .375rem .75rem;
            text-align: center;
        }
        .tiebreak_score {
            width:20px;
            font-family: Gotham SSm A,Gotham SSm B,Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.71;
            color: #2b3339;
            padding: .375rem .75rem;
            text-align: center;
            margin-left: -10px;
        }
        .match-type {
            margin-top: 10px;
            text-align: center;
        }
        .pos-table {
            border: 0;
            border-collapse: collapse;
        }
        .pos-table td {
            border: 0;
        }
        .match-details {
            margin-top: 10px;
        }
        .set-scores {
            margin-top: 10px;
        }
        .match-row {
            margin-top: 10px;
        }
        .match-input, .match-textarea {
            width: 250px;
        }
        .match-textarea {
            height: 180px;
        }
        .match-notable {
            margin-left: 6px;
        }
    </style>

    <div class="form">
        <form action="{% block form_action %}{% endblock %}?u={{ u }}{% if request.args.get('category') %}&category={{ request.args.get('category') }}{% endif %}" method="POST">
            <input type="hidden" name="return_url" value="{{ request.args.get('return_url', '') }}">
            <table>
                <tr style="background-color: lightgrey;">
                    <td>Date:</td>
                    <td><input type="date" name="date" id="date" value="{% block form_date %}{% endblock %}"></td>
                </tr>
                <tr>
                    <td class="user_input">Duration in minutes:</td>
                    <td><input type="text" name="duration" id="duration" value="{% block form_duration %}{% endblock %}" inputmode="decimal"></td>
                </tr>
                <tr>
                    <td class="user_input">Location:</td>
                    <td><input type="text" name="location" id="location" value="{% block form_location %}{% endblock %}"></td>
                </tr>
                <tr>
                    <td class="user_input">Category:</td>
                    <td>
                        <input type="text" name="category" id="category" value="{% block form_category %}{% endblock %}">
                    </td>
                </tr>
                <tr>
                    <td class="user_input">Details:</td>
                    <td><input type="text" name="details" id="details" value="{% block form_details %}{% endblock %}"></td>
                </tr>
                <tr id="match-details-row" style="display: none;">
                    <td colspan="2">
                        <div class="match-type">
                            <label><input type="radio" name="match_type" value="singles" checked> Singles</label>
                            <label><input type="radio" name="match_type" value="doubles"> Doubles</label>
                        </div>
                        <div class="match-details match-row">
                            <table class="pos-table">
                                <tr>
                                    <td>Team 1: </td>
                                    <td>
                                        <div>
                                            <input type="text" name="player1_seed" id="player1_seed" value="{% block match_player1_seed %}{% endblock %}" inputmode="decimal" placeholder="Seed" style="width: 4ch;">
                                            <input type="text" name="player1" id="player1" value="{% block match_player1 %}{% endblock %}">
                                            <input type="hidden" id="player1_id" name="player1_id" value="{% block match_player1_id %}{% endblock %}">
                                        </div>
                                        <div style="display: flex; margin-top: 5px;">
                                            <input type="text" name="player1_wtn" id="player1_wtn" value="{% block match_player1_wtn %}{% endblock %}" inputmode="decimal" placeholder="WTN" style="width: 6ch;">
                                            <input type="text" name="player1_utr" id="player1_utr" value="{% block match_player1_utr %}{% endblock %}" inputmode="decimal" placeholder="UTR" style="width: 6ch;margin-left: 10px;">
                                            <input type="text" name="player1_usta" id="player1_usta" value="{% block match_player1_usta %}{% endblock %}" inputmode="decimal" placeholder="USTA" style="width: 4ch;margin-left: 10px;">
                                        </div>
                                    </td>
                                </tr>
                                <tr id="team1_doubles" style="display: none;">
                                    <td></td>
                                    <td>
                                        <div>
                                            <input type="text" name="player3_seed" id="player3_seed" value="{% block match_player3_seed %}{% endblock %}" inputmode="decimal" placeholder="Seed" style="width: 4ch;">
                                            <input type="text" name="player3" id="player3" value="{% block match_player3 %}{% endblock %}">
                                            <input type="hidden" id="player3_id" name="player3_id" value="{% block match_player3_id %}{% endblock %}">
                                        </div>
                                        <div style="display: flex; margin-top: 5px;">
                                            <input type="text" name="player3_wtn" id="player3_wtn" value="{% block match_player3_wtn %}{% endblock %}" inputmode="decimal" placeholder="WTN" style="width: 6ch;">
                                            <input type="text" name="player3_utr" id="player3_utr" value="{% block match_player3_utr %}{% endblock %}" inputmode="decimal" placeholder="UTR" style="width: 6ch;margin-left: 10px;">
                                            <input type="text" name="player3_usta" id="player3_usta" value="{% block match_player3_usta %}{% endblock %}" inputmode="decimal" placeholder="USTA" style="width: 4ch;margin-left: 10px;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Team 2: </td>
                                    <td>
                                        <div>
                                            <input type="text" name="player2_seed" id="player2_seed" value="{% block match_player2_seed %}{% endblock %}" inputmode="decimal" placeholder="Seed" style="width: 4ch;">
                                            <input type="text" name="player2" id="player2" value="{% block match_player2 %}{% endblock %}">
                                            <input type="hidden" id="player2_id" name="player2_id" value="{% block match_player2_id %}{% endblock %}">
                                        </div>
                                        <div style="display: flex; margin-top: 5px;">
                                            <input type="text" name="player2_wtn" id="player2_wtn" value="{% block match_player2_wtn %}{% endblock %}" inputmode="decimal" placeholder="WTN" style="width: 6ch;">
                                            <input type="text" name="player2_utr" id="player2_utr" value="{% block match_player2_utr %}{% endblock %}" inputmode="decimal" placeholder="UTR" style="width: 6ch;margin-left: 10px;">
                                            <input type="text" name="player2_usta" id="player2_usta" value="{% block match_player2_usta %}{% endblock %}" inputmode="decimal" placeholder="USTA" style="width: 4ch;margin-left: 10px;">
                                        </div>
                                    </td>
                                </tr>
                                <tr id="team2_doubles" style="display: none;">
                                    <td></td>
                                    <td>
                                        <div>
                                            <input type="text" name="player4_seed" id="player4_seed" value="{% block match_player4_seed %}{% endblock %}" inputmode="decimal" placeholder="Seed" style="width: 4ch;">
                                            <input type="text" name="player4" id="player4" value="{% block match_player4 %}{% endblock %}">
                                            <input type="hidden" id="player4_id" name="player4_id" value="{% block match_player4_id %}{% endblock %}">
                                        </div>
                                        <div style="display: flex; margin-top: 5px;">
                                            <input type="text" name="player4_wtn" id="player4_wtn" value="{% block match_player4_wtn %}{% endblock %}" inputmode="decimal" placeholder="WTN" style="width: 6ch;">
                                            <input type="text" name="player4_utr" id="player4_utr" value="{% block match_player4_utr %}{% endblock %}" inputmode="decimal" placeholder="UTR" style="width: 6ch;margin-left: 10px;">
                                            <input type="text" name="player4_usta" id="player4_usta" value="{% block match_player4_usta %}{% endblock %}" inputmode="decimal" placeholder="USTA" style="width: 4ch;margin-left: 10px;">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="set-scores match-row">
                            <table class="pos-table">
                                <tr id="team1_score">
                                    <td>Team 1</td>
                                    <td>
                                        <input type="text" name="team1_set1" placeholder="S1" class="set_score" tabindex="1" size="1" maxlength="1"  inputmode="decimal" value="{% block team1_set1 %}{% endblock %}">
                                        <input type="text" name="team1_set1_tb" class="tiebreak_score" style="display: none;" size="2" maxlength="2" inputmode="decimal" value="{% block team1_set1_tb %}{% endblock %}">
                                    </td>
                                    <td>
                                        <input type="text" name="team1_set2" placeholder="S2" class="set_score" tabindex="3"size="1" maxlength="1" inputmode="decimal" value="{% block team1_set2 %}{% endblock %}">
                                        <input type="text" name="team1_set2_tb" class="tiebreak_score" style="display: none;" size="2" maxlength="2" inputmode="decimal" value="{% block team1_set2_tb %}{% endblock %}">
                                    </td>
                                    <td>
                                        <input type="text" name="team1_set3" placeholder="S3" class="set_score" tabindex="5"size="1" maxlength="1" inputmode="decimal" value="{% block team1_set3 %}{% endblock %}">
                                        <input type="text" name="team1_set3_tb" class="tiebreak_score" style="display: none;" size="2" maxlength="2" inputmode="decimal" value="{% block team1_set3_tb %}{% endblock %}">
                                    </td>
                                </tr>
                                <tr id="team2_score">
                                    <td>Team 2</td>
                                    <td>
                                        <input type="text" name="team2_set1" placeholder="S1" class="set_score" tabindex="2"size="1" maxlength="1" inputmode="decimal" value="{% block team2_set1 %}{% endblock %}">
                                        <input type="text" name="team2_set1_tb" class="tiebreak_score" style="display: none;" size="2" maxlength="2" inputmode="decimal" value="{% block team2_set1_tb %}{% endblock %}">
                                    </td>
                                    <td>
                                        <input type="text" name="team2_set2" placeholder="S2" class="set_score" tabindex="4"size="1" maxlength="1" inputmode="decimal" value="{% block team2_set2 %}{% endblock %}">
                                        <input type="text" name="team2_set2_tb" class="tiebreak_score" style="display: none;" size="2" maxlength="2" inputmode="decimal" value="{% block team2_set2_tb %}{% endblock %}">
                                    </td>
                                    <td>
                                        <input type="text" name="team2_set3" placeholder="S3" class="set_score" tabindex="6"size="1" maxlength="1" inputmode="decimal" value="{% block team2_set3 %}{% endblock %}">
                                        <input type="text" name="team2_set3_tb" class="tiebreak_score" style="display: none;" size="2" maxlength="2" inputmode="decimal" value="{% block team2_set3_tb %}{% endblock %}">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="match-row">
                            <table class="pos-table">
                                <tr>
                                    <td>Match won:</td>
                                    <td>
                                        <label><input type="radio" name="match_outcome" value="team1_won" {% block team1_won %}{% endblock %}> Team 1</label>
                                        <label><input type="radio" name="match_outcome" value="team2_won" {% block team2_won %}{% endblock %}> Team 2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Match serve:</td>
                                    <td>
                                        <label><input type="radio" name="match_serve" value="team1_serve" {% block team1_serve %}{% endblock %}> Team 1</label>
                                        <label><input type="radio" name="match_serve" value="team2_serve" {% block team2_serve %}{% endblock %}> Team 2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Match name:</td>
                                    <td><input type="text" name="match_name" id="match_name" class="match-input" value="{% block match_name %}{% endblock %}"></td>
                                </tr>
                                <tr class="match-only-fields">
                                    <td>Match level:</td>
                                    <td><input type="text" name="match_level" id="match_level" class="match-input" value="{% block match_level %}{% endblock %}"></td>
                                </tr>
                                <tr class="match-only-fields">
                                    <td>Match link:</td>
                                    <td><input type="text" name="match_link" id="match_link" class="match-input" value="{% block match_link %}{% endblock %}"></td>
                                </tr>
                                <tr class="match-only-fields">
                                    <td>Match event:</td>
                                    <td><input type="text" name="match_event" id="match_event" class="match-input" value="{% block match_event %}{% endblock %}"></td>
                                </tr>
                                <tr class="match-only-fields">
                                    <td>Match draw:</td>
                                    <td><input type="text" name="match_draw" id="match_draw" class="match-input" value="{% block match_draw %}{% endblock %}"></td>
                                </tr>
                                <tr class="match-only-fields">
                                    <td>Match round:</td>
                                    <td><input type="text" name="match_round" id="match_round" class="match-input" value="{% block match_round %}{% endblock %}"></td>
                                </tr>
                                <tr class="match-only-fields">
                                    <td>Match city:</td>
                                    <td><input type="text" name="match_city" id="match_city" class="match-input" value="{% block match_city %}{% endblock %}"></td>
                                </tr>
                                <tr class="match-only-fields">
                                    <td>Match state:</td>
                                    <td><input type="text" name="match_state" id="match_state" class="match-input" value="{% block match_state %}{% endblock %}"></td>
                                </tr>
                                <tr>
                                    <td>Court Type:</td>
                                    <td>
                                        <label><input type="radio" name="court_type" value="outdoor" {% block court_type_outdoor %}{% endblock %}>Outdoor</label>
                                        <label><input type="radio" name="court_type" value="indoor" {% block court_type_indoor %}{% endblock %}>Indoor</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Comments:</td>
                                    <td><textarea name="match_comments" id="match_comments" class="match-textarea">{% block match_comments %}{% endblock %}</textarea></td>
                                </tr>
                                <tr>
                                    <td>Scores:</td>
                                    <td><textarea name="match_scores" id="match_scores" class="match-textarea">{% block match_scores %}{% endblock %}</textarea></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <div class="container">
                <input class="iphone-button" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

<script>
    // Get today's date
    var today = new Date();
    
    // Format the date as YYYY-MM-DD
    var formattedDate = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getDate().toString().padStart(2, '0');
    
    // Set the value of the input field with today's date
    if (!document.getElementById('date').value) {
        document.getElementById('date').value = formattedDate;
    }
</script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    function toggleMatchDetails(selectedValue) {
        var matchDetailsRow = document.getElementById('match-details-row');
        var matchOnlyFields = document.querySelectorAll('.match-only-fields');

        if (selectedValue?.toLowerCase() === 'match') {
            matchDetailsRow.style.display = 'table-row';
            matchOnlyFields.forEach(field => field.style.display = 'table-row');
        } else if (selectedValue?.toLowerCase() === 'play') {
            matchDetailsRow.style.display = 'table-row';
            matchOnlyFields.forEach(field => field.style.display = 'none');
        } else {
            matchDetailsRow.style.display = 'none';
        }
    }

    {% block form_loaded %}{% endblock %}

    $(document).ready(function() {
        var local_categories = ["Coach", "Fitness", "Group", "Match", "Play", "Practice ", "Private", "Semi"];
        $('#category').on('focus', function() {
            $(this).autocomplete('search', '');
        });
        $('#category').autocomplete({
            /*
            source: function(request, response) {
                $.ajax({
                    url: '/categories',
                    dataType: 'json',
                    data: {
                        term: request.term
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            */
            source: local_categories,
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#category').val(ui.item.value); // Update input value when an option is selected
                toggleMatchDetails(ui.item.value);
                return false; // Prevent default behavior of input field
            }
        });

        function checkScores() {
            for (let i = 1; i <= 3; i++) {
                let team1_set = parseInt($(`input[name="team1_set${i}"]`).val()) || 0;
                let team2_set = parseInt($(`input[name="team2_set${i}"]`).val()) || 0;
                let team1_empty = $(`input[name="team1_set${i}"]`).val() === '';
                let team2_empty = $(`input[name="team2_set${i}"]`).val() === '';

                if (team1_empty && !team2_empty && team2_set < 6) {
                    let value = team2_set == 5 ? 7 : 6;
                    if (i == 3 && team2_set == 1) {
                        value = 0;
                    }
                    $(`input[name="team1_set${i}"]`).val(value);
                    team1_set = value;
                }

                if (team2_empty && !team1_empty && team1_set < 6) {
                    let value = team1_set == 5 ? 7 : 6;
                    if (i == 3 && team1_set == 1) {
                        value = 0;
                    }
                    $(`input[name="team2_set${i}"]`).val(value);
                    team2_set = value;
                }

                let scoreDifference = Math.abs(team1_set - team2_set);
                
                if (scoreDifference === 1) {
                    $(`input[name="team1_set${i}_tb"]`).show();
                    $(`input[name="team2_set${i}_tb"]`).show();
                } else {
                    $(`input[name="team1_set${i}_tb"]`).hide().val('');
                    $(`input[name="team2_set${i}_tb"]`).hide().val('');
                }
            }
        }

        $('.set_score').on('input', checkScores);
        checkScores();

        function calculateMatchOutcome() {
            let team1_sets_won = 0;
            let team2_sets_won = 0;

            for (let i = 1; i <= 3; i++) {
                let team1_set_score = parseInt($(`input[name="team1_set${i}"]`).val()) || 0;
                let team2_set_score = parseInt($(`input[name="team2_set${i}"]`).val()) || 0;

                if (team1_set_score > team2_set_score) {
                    team1_sets_won++;
                } else if (team2_set_score > team1_set_score) {
                    team2_sets_won++;
                }
            }

            if (team1_sets_won > team2_sets_won || (team1_sets_won === 2 && team2_sets_won < 2) || (team1_sets_won === 0 && team2_sets_won === 0)) {
                $('input[name="match_outcome"][value="team1_won"]').prop('checked', true);
                $('#team1_score').css('background-color', 'lightgreen');
                $('#team2_score').css('background-color', ''); // Reset Team 2's background color
            } else {
                $('input[name="match_outcome"][value="team2_won"]').prop('checked', true);
                $('#team2_score').css('background-color', 'lightgreen');
                $('#team1_score').css('background-color', ''); // Reset Team 1's background color
            }
        }

        $('.set_score').on('input', calculateMatchOutcome);
        calculateMatchOutcome();
    });

    $(document).ready(function() {
        $('#match_name').autocomplete({
            source: function(request, response) {
                var category = $('#category').val();
                var isPlay = (category.toLowerCase() === 'play');
                
                $.ajax({
                    url: '/match_name/{{ u }}',
                    dataType: 'json',
                    data: {
                        term: request.term,
                        is_play: isPlay
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 0,
            select: function(event, ui) {
                $('#match_name').val(ui.item.value);
                return false;
            }
        });

        $('#match_name').on('focus', function() {
            if ($('#match_name').val() === '') {
                $(this).autocomplete('search', '');
            }
        });

        // Trigger autocomplete update when category changes
        $('#category').on('change', function() {
            $('#match_name').autocomplete('search', $('#match_name').val());
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var staticLocations = [
            "CP",
            "RHS",
            "RMS",
            "WSC",
            "WHS"
        ];

        $('#location').autocomplete({
            source: function(request, response) {
                if (request.term.length === 0) {
                    // If no input, show the static list
                    response(staticLocations);
                } else if (request.term.length < 2) {
                    // If input length is less than 2, do not show any suggestions
                    response([]);
                } else {
                    // Send an AJAX request to the server for the search term
                    $.ajax({
                        url: `/locations/${request.term}`,
                        type: 'GET',
                        success: function(data) {
                            // Parse the response data and call the response callback
                            response(data);
                        },
                        error: function() {
                            // Handle errors
                            response([]);
                        }
                    });
                }
            },
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#location').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });

        $('#location').on('focus', function() {
            if ($('#location').val() === '') {
                $(this).autocomplete('search', ''); // Trigger search on focus
            }
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var staticLocations = [
            "Bellevue",
            "Kirkland",
            "Redmond",
            "Tacoma",
            "Vancouver",
            "Yakima"
        ];

        $('#match_city').autocomplete({
            source: function(request, response) {
                if (request.term.length === 0) {
                    // If no input, show the static list
                    response(staticLocations);
                } else if (request.term.length < 2) {
                    // If input length is less than 2, do not show any suggestions
                    response([]);
                } else {
                    // Send an AJAX request to the server for the search term
                    $.ajax({
                        url: `/cities/${request.term}`,
                        type: 'GET',
                        success: function(data) {
                            // Parse the response data and call the response callback
                            response(data);
                        },
                        error: function() {
                            // Handle errors
                            response([]);
                        }
                    });
                }
            },
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#match_city').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });

        $('#match_city').on('focus', function() {
            if ($('#match_city').val() === '') {
                $(this).autocomplete('search', ''); // Trigger search on focus
            }
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var states = [
            "WA",
            "OR",
            "CA",
            "FL",
            "NJ"
        ];

        $('#match_state').on('focus', function() {
            $(this).autocomplete('search', '');
        });

        $('#match_state').autocomplete({
            source: states, // Use the hardcoded array
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#match_state').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });
    });


    $(document).ready(function() {
        // Hardcoded array of locations
        var rounds = [
            "R128",
            "R64",
            "R32",
            "R16",
            "Quarterfinals",
            "Semifinals",
            "Finals",
            "Round1",
            "Round2",
            "Round3",
            "Round4",
            "Season",
            "Playoff",
            "Sectional",
            "National",
            "Varsity"
        ];

        $('#match_round').on('focus', function() {
            $(this).autocomplete('search', '');
        });

        $('#match_round').autocomplete({
            source: rounds, // Use the hardcoded array
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#match_round').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var items = [
            "Boys'12 & under",
            "Boys'14 & under",
            "Boys'16 & under",
            "Boys'18 & under",
            "Girls'12 & under",
            "Girls'14 & under",
            "Girls'16 & under",
            "Girls'18 & under",
            "High School",
            "Adults 18+",
            "Adults 18+ Mix",
            "Adults 40+",
            "Adults 40+ Mix",
            "Adults 55+"
        ];

        $('#match_event').on('focus', function() {
            $(this).autocomplete('search', '');
        });

        $('#match_event').autocomplete({
            source: items, // Use the hardcoded array
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#match_event').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var items = [
            "Main",
            "Playoff 3-4",
            "Consolation",
            "Singles 1",
            "Singles 2",
            "Doubles 1",
            "Doubles 2",
            "Doubles 3"
        ];

        $('#match_draw').on('focus', function() {
            $(this).autocomplete('search', '');
        });

        $('#match_draw').autocomplete({
            source: items, // Use the hardcoded array
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#match_draw').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var items = [
            "Level 1",
            "Level 2",
            "Level 3",
            "Level 3 Open",
            "Level 4",
            "Level 4 Open",
            "Level 5",
            "Level 5 Open",
            "Level 6",
            "Level 7",
            "USTA 3.0",
            "USTA 3.5",
            "USTA Mix 6.0",
            "USTA Mix 7.0",
            "4A State",
            "USTA Junior Team",
            "Green ball",
            "Red ball"
        ];

        $('#match_level').on('focus', function() {
            $(this).autocomplete('search', '');
        });

        $('#match_level').autocomplete({
            source: items, // Use the hardcoded array
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#match_level').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var items = [
            "Tier1 FTA",    
            "Tier1 Group",
            "Emily",
            "Andrew",
            "Alex",
            "Sherri",
            "Ball machine"
        ];

        $('#details').on('focus', function() {
            $(this).autocomplete('search', '');
        });

        $('#details').autocomplete({
            source: items, // Use the hardcoded array
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#details').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });
    });

    $(document).ready(function() {
        // Hardcoded array of locations
        var items = [
            "30",
            "60",
            "90",
            "120",
            "150"
        ];

        $('#duration').on('focus', function() {
            $(this).autocomplete('search', '');
        });

        $('#duration').autocomplete({
            source: items, // Use the hardcoded array
            minLength: 0, // Minimum characters before triggering autocomplete
            select: function(event, ui) {
                $('#duration').val(ui.item.value); // Update input value when an option is selected
                return false; // Prevent default behavior of input field
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var team1_doubles= document.getElementById('team1_doubles');
        var team2_doubles = document.getElementById('team2_doubles');
        var matchTypeRadios = document.getElementsByName('match_type');

        function toggleMatchType() {
            if (document.querySelector('input[name="match_type"]:checked').value === 'singles') {
                team1_doubles.style.display = 'none';
                team2_doubles.style.display = 'none';
            } else {
                team1_doubles.style.display = 'table-row';
                team2_doubles.style.display = 'table-row';
            }
        }

        // Initialize the visibility on page load
        toggleMatchType();

        // Add event listeners for match type radios
        matchTypeRadios.forEach(function(radio) {
            radio.addEventListener('change', toggleMatchType);
        });
    });

    $(document).ready(function() {
        function setupPlayerAutocomplete(playerNumber) {
            $(`#player${playerNumber}`).autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '/player/s',
                        dataType: 'json',
                        data: {
                            term: request.term,
                            u: '{{ u }}'
                        },
                        success: function(data) {
                            response($.map(data, function(item) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                    id: item.id
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function(event, ui) {
                    $(`#player${playerNumber}`).val(ui.item.value);
                    $(`#player${playerNumber}_id`).val(ui.item.id);
                    return false;
                }
            });
        }

        // Setup autocomplete for all four player fields
        for (let i = 1; i <= 4; i++) {
            setupPlayerAutocomplete(i);
        }
    });
</script>

    {% block bottom_part %}
    {% endblock %}

{% endblock %}